.payment-heading {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.greeting {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #64748b;
}
.homepage-button {
  width: Hug (131px);
  height: Hug (32px);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  gap: 8px;
  background: #f7931e;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}
.success-main-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-image {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .success-image {
    width: 48px;
    height: 48px;
  }
  .payment-heading {
    font-size: 20px;
    line-height: 24px;
  }
  .greeting {
    font-size: 14px;
    line-height: 24px;
  }
}
