* {
  margin: 0px;
}

.login-main-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  width: 100vw;
}
.login-section {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  width: 50vw;
  height: 100vh;
}
.form-container {
  height: 523px;
  width: 456px;
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0px #07070714;
  background: #fefeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.logo-container {
  width: 53px;
  height: 43px;
  left: 366px;
  top: 298px;
}
.login-logo {
  width: 49px;
  height: 39px;
  top: 2px;
  left: 2px;
}
.title-container {
  width: 172px;
  height: 32px;
  top: 341px;
  left: 307px;
}
.title {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #f7931e;
}
.login-title-container {
  width: 80px;
  height: 40px;
  top: 405px;
  left: 353px;
  margin-bottom: 60px;
}
.login-title {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #0f172a;
}
.input-container {
  width: 360px;
  height: 64px;
  left: 213px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.label {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #475569;
  margin-bottom: 10px;
}
.input {
  width: 360px;
  height: 40px;
  top: 24px;
  background: #e2e8f0;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #171f46;
  padding-left: 16px;
}

.login-button {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  background: #f7931e;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  border: none;
}
.error-message {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ef4444;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .login-main-container {
    flex-direction: column;
    padding: 0px;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .login-section {
    order: 1;
    height: 50vh;
    width: 95%;
    margin: 10px;
  }
  .login-image {
    order: 0;
    width: 387px;
    height: 387px;
    margin-top: -38px;
    margin-left: 56px;
    border-radius: 249.93751525878906px;
    margin-bottom: -38px;
  }
  .title-container {
    display: none;
  }
  .logo-container {
    display: none;
  }
  .form-container {
    box-shadow: none;
    margin-top: -10px;
    background-color: transparent;
    padding: 0px;
    align-items: flex-start;
    width: 100%;
  }
  .login-title {
    width: 60px;
    height: 32px;
    top: 296px;
    left: 24px;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 25px;
  }
  .input-container {
    width: 312px;
    height: 64px;
    top: 376px;
    left: 24px;
    margin-top: 10px;
    flex-direction: column;
  }
  .input {
    width: 312px;
    height: 40px;
    top: 24px;
    border-radius: 2px;
  }
  .login-button {
    width: 312px;
    height: 40px;
    top: 552px;
    left: 24px;
    margin-top: 5px;
  }
  .error-message {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
  }
}
